{% extends 'main.html.twig' %}
{% block content %}
<div class="container">
    <!-- Breadcrumbs line -->
    <div class="crumbs" role="">
        <ul id="breadcrumbs" class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="{{ path('home_admin_data') }}">Dashboard</a>
            </li>
            {#<li class="current">#}
                {#<a href="pages_calendar.html" title="">Calendar</a>#}
            {#</li>#}
        </ul>
        </div>

        <div class="page-header">
            <div class="page-title">
                <span>Hello, {{app.user.username|capitalize}}!</span>
            </div>
        </div>

        {% block fliter %}
            {{ render(controller(
            'AppPolioDbBundle:Download:downloadFilter'
            ))
            }}
        {% endblock %}

        <div>
            <h2>Posts</h2>
              {{ sg_datatables_render(datatable) }}

        </div>

        <!-- <script type="text/javascript">
      $(document).ready(function(){
                $("#sg-datatables-admindata_datatable_filter").css("display","none");
            });
        </script> -->

        {% block script_end %}

            <script>
                $(document).ready(function () {
                    // $('.loading, .loading-top').hide();

                    $('#filterButton').click(function () {
                        var campaigns = $('#filterCampaign option:selected');
                        var selectedCampaigns = [];
                        $(campaigns).each(function (index, campaigns) {
                            selectedCampaigns.push([$(this).val()]);
                        });

                        var region = $('#filterRegion option:selected');
                        var selectedRegions = [];
                        $(region).each(function (index, region) {
                            selectedRegions.push([$(this).val()]);
                        });

                        var provinces = $('#filterProvince option:selected');
                        var selectedProvinces = [];
                        $(provinces).each(function (index, provinces) {
                            selectedProvinces.push([$(this).val()]);
                        });

                        var districts = $('#filterDistrict option:selected');
                        var selectedDistricts = [];
                        $(districts).each(function (index, districts) {
                            selectedDistricts.push([$(this).val()]);
                        });

                        var data = {'campaign':selectedCampaigns, 'region':selectedRegions, 'province': selectedProvinces, 'district': selectedDistricts};

                        //console.log(data);


                        $.ajax({
                            url: Routing.generate('ajax_download_data'),
                            data: data,
                            type: 'POST',
                            success: function (data) {
                                //console.log(data);
                                var jsonData = JSON.parse(data);

                            },
                            cache: false
                        });

                    })
                });

            

            </script>

        {% endblock %}


</div>
{% endblock %}
