<div id="left">
  <!-- <form action="search-results.html" method="GET" class='search-form'>
    <div class="search-pane">
      <input type="text" name="search" placeholder="Search here...">
      <button type="submit"><i class="icon-search"></i></button>
    </div>
  </form> -->
  <div class="subnav">
    <div class="subnav-title">
      <a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>By Regions</span></a>
    </div>
    <ul class="subnav-menu">
      <!-- <li class='dropdown'>
        <a href="#" data-toggle="dropdown">Articles</a>
        <ul class="dropdown-menu">
          <li>
            <a href="#">Action #1</a>
          </li>
          <li>
            <a href="#">Antoher Link</a>
          </li>
          <li class='dropdown-submenu'>
            <a href="#" data-toggle="dropdown" class='dropdown-toggle'>Go to level 3</a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">This is level 3</a>
              </li>
              <li>
                <a href="#">Unlimited levels</a>
              </li>
              <li>
                <a href="#">Easy to use</a>
              </li>
            </ul>
          </li>
        </ul>
      </li> -->
      <li>
        <a href="#">South Region</a>
      </li>
      <li>
        <a href="#">East Region</a>
      </li>
      <li>
        <a href="#">South East Region</a>
      </li>
      <li>
        <a href="#">Central Region</a>
      </li>
      <li>
        <a href="#">West Region</a>
      </li>
    </ul>
  </div>
  <div class="subnav">
    <div class="subnav-title">
      <a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>By Positions</span></a>
    </div>
    <ul class="subnav-menu">
      <li>
        <a href="#">PCOs</a>
      </li>
      <li>
        <a href="#">DCOs</a>
      </li>
      <li>
        <a href="#">MNE Officers</a>
      </li>
    </ul>
  </div>
  <div class="subnav">
    <div class="subnav-title">
      <a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>By Forms</span></a>
    </div>
    <ul class="subnav-menu">
      <li>
        <a href="#">All Forms</a>
      </li>
      <li>
        <a href="#">Select A Form</a>
      </li>
    </ul>
  </div>
  <div class="subnav">
    <div class="subnav-title">
      <a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>By Date</span></a>
    </div>
    <ul class="subnav-menu">
      <li>
        <a href="#">Today</a>
      </li>
      <li>
        <a href="#">Select A Date Range</a>
      </li>
    </ul>
  </div>
  <!-- <div class="subnav subnav-hidden">
    <div class="subnav-title">
      <a href="#" class='toggle-subnav'><i class="icon-angle-right"></i><span>Default hidden</span></a>
    </div>
    <ul class="subnav-menu">
      <li>
        <a href="#">Menu</a>
      </li>
      <li class='dropdown'>
        <a href="#" data-toggle="dropdown">With submenu</a>
        <ul class="dropdown-menu">
          <li>
            <a href="#">Action #1</a>
          </li>
          <li>
            <a href="#">Antoher Link</a>
          </li>
          <li class='dropdown-submenu'>
            <a href="#" data-toggle="dropdown" class='dropdown-toggle'>More stuff</a>
            <ul class="dropdown-menu">
              <li>
                <a href="#">This is level 3</a>
              </li>
              <li>
                <a href="#">Easy to use</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Security settings</a>
      </li>
    </ul>
  </div> -->
</div>
