{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}




{% block fos_user_content %}

<div id="main" >
  <div class="container-fluid">
    <div class="page-header box">
      <div class="box-title">
        <h1 style="font-size:20px;line-height:24px;font-weight:400">Register User</h1>
      </div>
    </div>
      <div class="row-fluid">


    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock fos_user_content %}
