{% extends 'template.html.twig' %}


{% block left_nav %}
<div id="left">

  <div class="subnav">
    <div class="subnav-title">
      <a href="#" class='toggle-subnav'><i class="icon-angle-down"></i><span>Data Source</span></a>
    </div>
    <ul class="subnav-menu">

      <li>
        <a href="#">Admin Data</a>
      </li>
      <li>
        <a href="#">Catchup Data</a>
      </li>
      <li>
        <a href="#">ICM Data</a>
      </li>

    </ul>
  </div>
  </div>
    {% endblock %}

{% block content %}
<div id="main">
  <div class="container-fluid">
    <div class="page-header box">
      <div class="box-title">
        <h1 style="font-size:20px;line-height:24px;font-weight:400">Upload Dashboard</h1>
      </div>
    </div>


    <div class="row-fluid">
    						<div class="span12">
    							<div class="box box-color box-bordered">
    								<div class="box-title">
    									<h3><i class="icon-th-list"></i> Upload Data</h3>
    								</div>
    								<div class="box-content nopadding">
    									<form action="#" method="POST" class='form-horizontal form-bordered' enctype='multipart/form-data'>
    										<div class="control-group">
    											<label for="textfield" class="control-label">Name</label>
    											<div class="controls">
    												<div class="input-append">
    													<input type="text" class='username-check'>
    												</div>

    											</div>
    										</div>



    										<div class="control-group">
    											<label for="textfield" class="control-label">Select Campaign</label>
    											<div class="controls">
    												<div class="input-xlarge"><select name="select" id="select" class='chosen-select'>
    													<option value="1">1</option>
    													<option value="2">2</option>
    													<option value="3">3</option>
    													<option value="4">4</option>

    												</select></div>
    											</div>
    										</div>


                    <div class="control-group">
                    <label for="textfield" class="control-label">Custom file upload</label>
                    <div class="controls">
                      <div class="fileupload fileupload-new" data-provides="fileupload">
                        <div class="input-append">
                          <div class="uneditable-input span3"><i class="icon-file fileupload-exists"></i> <span class="fileupload-preview"></span></div><span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input type="file" name="aaaa" /></span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="control-group">
                    <label for="textfield" class="control-label"></label>
                    <div class="controls">
                      <div class="fileupload fileupload-new" data-provides="fileupload">
                        <span class="btn btn-file"><span class="fileupload-new">Select file</span><span class="fileupload-exists">Change</span><input type="file" /></span>
                        <span class="fileupload-preview"></span>
                        <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                      </div>
                    </div>
                  </div>

                        <div class="form-actions">
                        											<button type="submit" class="btn btn-primary">Upload</button>
                        											<button type="button" class="btn">Cancel</button>
                        										</div>
                        									</form>

    										</div>
    									</form>
    								</div>
    							</div>
    						</div>
    					</div>


    </div>
  </div>
{% endblock %}
